{% import "../partials/_helper.twig" as helper %}

<div class="left-menu" id="mySidebar">
	<div class="content-logo">
		{% include "./logo.twig" %}
	</div>
	<div class="content-menu">
		<ul class="tab">
			{{ helper.menuLink("Installation", "tabInstallation", true) }}
			{{ helper.menuLink("Auth Transactions", "tabAuth") }}
            {{ helper.menuLink("Category Transactions", "tabCategory") }}
            {{ helper.menuLink("Tag Transactions", "tabTag") }}
            {{ helper.menuLink("Survey Transactions", "tabSurvey") }}
            {{ helper.menuLink("Announcement Trans", "tabAnnouncement") }}
            {{ helper.menuLink("News Transactions", "tabNews") }}
            {{ helper.menuLink("Entertainment Trans", "tabEntertainment") }}
            {{ helper.menuLink("Sport Transactions", "tabSport") }}
            {{ helper.menuLink("League Transactions", "tabLeague") }}
		</ul>
	</div>
</div>